[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/home/heewa/.config/neomutt/post_sync_mail.sh

[Install]
WantedBy=default.target
